---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';

import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import BlogList from '~/components/blog/List.astro';
import Pagination from '~/components/blog/Pagination.astro';
import Headline from '~/components/blog/Headline.astro';

const metadata = {
  title: 'Dennis Decodes Systems - Decoding Complex Systems into Simple Solutions',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    actions={[
      {
        variant: 'primary',
        text: 'Start Exploring',
        href: '/blog',
        target: '_blank',
        icon: 'tabler:arrow-right',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/Dennis Troeger.png', alt: 'Dennis Tröger' }}
  >
    <Fragment slot="title">
      I <span class="text-accent dark:text-white highlight"> decode </span> systems.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Hey, I'm Dennis—Ex-Molecular Biologist, SaaS Founder, Polymath Explorer.<br /><br />
        I decode systems—mindsets, money, and personal growth for you, AI for businesses at Histack—to unlock clarity, purpose,
        and profit.<br /><br />
        No fluff, just real lessons from my wins and wrecks to help you cut through chaos and thrive.
      </span>
      <span class="block mb-1 sm:hidden font-bold">
        Hey, I'm Dennis—Ex-Molecular Biologist, SaaS Founder, Polymath Explorer.<br /><br />
        I decode systems—mindsets, money, and personal growth for you, AI for businesses at Histack—to unlock clarity, purpose,
        and profit.<br /><br />
        No fluff, just real lessons from my wins and wrecks to help you cut through chaos and thrive. s</span
      >
    </Fragment>
  </Hero2>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Blog Roll ******************* -->

  <BlogLatestPosts />
</Layout>
